{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
     <link rel="stylesheet" href="{% static 'css/accounts.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="signup-box">
        {% comment %} <img src="https://storage.googleapis.com/devitary-image-host.appspot.com/15846435184459982716-LogoMakr_7POjrN.png" class="logo" /> {% endcomment %}
        <h1 class="title">Log In for Bhokey</h1>

        <div class="social-buttons">
          <!-- <button class="social-btn">
            <div class="icon-bg">
              <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" alt="Google" class="icon" />
            </div>
            <span>Sign Up with Google</span>
          </button> -->
<!-- 
          <button class="social-btn">
            <div class="icon-bg">
              <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub" class="icon" />
            </div>
            <span>Sign Up with GitHub</span>
          </button> -->
        </div>

        <!-- <div class="divider">Or sign up with e-mail</div> -->

<form method="post" class="signup-form">
  {% csrf_token %}

  <input type="text" name="username" placeholder="Username" class="input" required>
  <input type="password" name="password" placeholder="Password" class="input" required>

  <button type="submit" class="submit-btn">
    <span>Log in</span>
  </button>
</form>
        <p class="terms">
          I agree to abide by templatana's
          <a href="#">Terms of Service</a> and
          <a href="#">Privacy Policy</a>
        </p>
         <p class="login-link">
          Already have an account?
          <a href="{% url 'register' %}" class="btn-login">Login/Signup</a>
        </p>
      </div>

      <div class="illustration"></div>
    </div>
  </body>
</html>
